@model Session_03.Models.Item

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfBeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBedrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfBedrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfBathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExactAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExactAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApproximateAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproximateAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HostRules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostRules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumNights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumNights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximumNights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximumNights)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
