@model Session_03.Models.Item
@{
    ViewBag.Title = "- Property Detail for " + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Detail of @Model.Title at @Model.Area.Name</h4>
<div>
    <div class="d-flex flex-wrap">
        @foreach (Session_03.Models.ItemPicture ip in Model.ItemPictures)
        {
            <div style="width:30%" class="m-3">
                <img class="w-100" src="@Url.Content("~/itemPictures/"+ip.PictureFileName)" />
            </div>
        }
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div style="width:40%">
            <div>
                <span class="me-3">Capacity: @Model.Capacity</span>
                <span class="me-3">Beds: @Model.NumberOfBeds</span>
                <span class="me-3">Bedrooms: @Model.NumberOfBedrooms</span>
                <span class="me-3">Bathrooms: @Model.NumberOfBathrooms</span>
            </div>
            <div>
                <b>Description</b>
                <br />
                @Model.Description
            </div>
            <div>
                <b>Host Rules</b>
                <br />
                @Model.HostRules
            </div>
        </div>
        <div>
            Available Amenities
            @foreach (Session_03.Models.ItemAmenity iam in Model.ItemAmenities)
            {
                <div>@iam.Amenity.Name</div>
            }
        </div>
        <div>
            <p>Check-in at: 25/11/2022</p>
            <p>Check-out at: 26/11/2022</p>
            @using (Html.BeginForm("Payment", "Home", FormMethod.Post))
            {

                <input name="id" value="@Model.ID" hidden />
                <input name="price" value="@ViewBag.Price" hidden />
                <p>Reserve for <input name="capacity" value="1" type="number" min="1" /> people</p>
                <p>Amount Payable: @ViewBag.Price</p>
                <button>Reserve Now</button>
            }
        </div>
    </div>
</div>
