@model HashSet<Session_03.Models.Item>

@{
    ViewBag.Title = "- Property Results for" + ViewBag.Area;
}

<h4>Property result for @ViewBag.Area from 25/11/2022 for 1 nights</h4>
<div class="d-flex flex-wrap">
    @foreach(Session_03.Models.Item item in Model)
    {
        <a href="@Url.Action("Detail", "Home", new { id = item.ID })"
           class="d-block m-3 p-3 border border-dark text-dark text-decoration-none"
           style="width:22%;cursor:pointer">
            @{ 
                string src = "~/itemPictures/";
                src += item.ItemPictures.Count > 0 ? item.ItemPictures.First().PictureFileName : "default.jpg";
                decimal price = item.ItemPrices.Where(x => x.Date == new DateTime(2022, 11, 25)).FirstOrDefault().Price;
            }
            <div>
                <img class="w-100" src="@Url.Content(src)" />
            </div>
            <p><b>@item.Title</b></p>
            <div>
                <span class="me-5">Area: @ViewBag.Area</span>
                <span>Capacity: @item.Capacity</span>
            </div>
            <p>Total fee: $@price</p>
        </a>
    }
</div>