<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seoul Stay @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <div class="d-flex justify-content-between align-items-center my-3">
            <div class="border border-3 border-dark py-3 px-5">LOGO</div>
            @using(Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <input name="area" />
            }
            <div>Welcome John Doe</div>
        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
